<%= form_with model: @leave, url: form_url, local: true do |f| %>
  <% if @leave.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @leave.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :leave_type_id, "Leave Type" %>
    <%= f.collection_select :leave_type_id, @leave_types, :id, :name, { prompt: "Select Leave Type" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
