<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">Leave Applications</h3>
    <%= link_to 'New Leave', new_leave_leave_path, class: "btn btn-sm btn-primary" %>
  </div>
  
  <div class="card-body p-0">
    <table class="table table-bordered table-hover table-striped mb-0">
      <thead class="thead-light">
        <tr>
          <th>Employee</th>
          <th>Leave Type</th>
          <th>Date Range</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @leaves.each do |leave| %>
          <tr>
            <td><%= leave.user.name %></td>
            <td><%= leave.leave_type.name %></td>
            <td><%= leave.start_date %> - <%= leave.end_date %></td>
            <td>
              <span class="badge <%= leave.status == 'Pending' ? 'bg-warning' : (leave.status == 'Approved' ? 'bg-success' : 'bg-danger') %>">
                <%= leave.status %>
              </span>
            </td>
            <td>
               <%= link_to 'Show', leave_leave_path(leave), class: "btn btn-xs btn-info" %>
              <%= link_to 'Edit', edit_leave_leave_path(leave), class: "btn btn-xs btn-warning" %>
              <%= button_to 'Delete', leave_leave_path(leave), method: :delete, data: { confirm: "Are you sure?" },form: { style: "display:inline;" }, class: "btn btn-xs btn-danger" %>
              <% if leave.status == "Pending" %>
                <div class="btn-group btn-group-sm" role="group">
                  <%= button_to "Approve", approve_leave_leave_path(leave), method: :post, class: "btn btn-success" %>
                  <%= button_to "Reject", reject_leave_leave_path(leave), method: :post, class: "btn btn-danger" %>
                </div>
              <% else %>
                <span class="text-muted">No Actions</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
