<div class="container-fluid mt-3">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Attendance Details</h3>
      <div class="card-tools">
        <%= link_to 'Back', attendance_attendances_path, class: "btn btn-sm btn-secondary" %>
        <%= link_to 'Edit', edit_attendance_attendance_path(@attendance), class: "btn btn-sm btn-warning" %>
      </div>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9"><%= @attendance.user&.name || "N/A" %></dd>

        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9"><%= @attendance.attendance_date %></dd>

        <dt class="col-sm-3">Check In</dt>
        <dd class="col-sm-9"><%= @attendance.check_in&.strftime("%I:%M %p") || "N/A" %></dd>

        <dt class="col-sm-3">Check Out</dt>
        <dd class="col-sm-9"><%= @attendance.check_out&.strftime("%I:%M %p") || "N/A" %></dd>

        <dt class="col-sm-3">Working Hours</dt>
        <dd class="col-sm-9"><%= @attendance.working_hours || 0 %> hrs</dd>

        <dt class="col-sm-3">Overtime</dt>
        <dd class="col-sm-9"><%= @attendance.overtime_hours || 0 %> hrs</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9"><span class="badge badge-<%= @attendance.status == 'Present' ? 'success' : 'danger' %>">
          <%= @attendance.status %></span></dd>

        <dt class="col-sm-3">Payroll Processed</dt>
        <dd class="col-sm-9">
          <% if @attendance.payroll_processed %>
            <span class="badge badge-success">Yes</span>
          <% else %>
            <span class="badge badge-secondary">No</span>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>
