<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">Shift List</h3>
    <%= link_to 'New Shift', new_attendance_shift_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Break Hours</th>
          <th>Rotating</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @shifts.each do |shift| %>
          <tr>
            <td><%= shift.name %></td>
            <td><%= shift.start_time.strftime("%H:%M") %></td>
            <td><%= shift.end_time.strftime("%H:%M") %></td>
            <td><%= shift.break_hours %></td>
            <td><%= shift.is_rotating ? 'Yes' : 'No' %></td>
            <td><%= shift.shift_type %></td>
            <td>
              <%= link_to 'Edit', edit_attendance_shift_path(shift), class: 'btn btn-warning btn-sm' %>
              <%= button_to 'Delete', attendance_shift_path(shift), method: :delete, data: { confirm: 'Are you sure?' },form: { style: "display:inline;" }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
