 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    
      <%# <img src="/assets/admin-lte/dist/img/AdminLTELogo.png" class="brand-image img-circle elevation-3" alt="AdminLTE Logo"> %>
      <%= image_tag "admin-lte/dist/img/AdminLTELogo.png", alt: "AdminLTE Logo", class: "brand-image img-circle elevation-3" %>
      <span class="brand-text font-weight-light">AdminLTE 3</span>
   

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
           <%# <img src="/assets/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> %>
          <%= image_tag 'admin-lte/dist/img/user2-160x160.jpg', class: "img-circle elevation-2" %>

        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Dashboard -->
    <li class="nav-item menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-desktop"></i>
        <p>
          Dashboard
          <i class="right fas fa-angle-down"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <%if current_user.roles.exists?(name: "Admin")%>
       <li class="nav-item">
        <%= link_to admin_dashboard_path, class: "nav-link active" do %>
          <i class="far fa-dot-circle nav-icon"></i>
          <p>Admin Dashboard</p>
        <% end %>
      </li>
      <%end%>
        <li class="nav-item">
          <%= link_to employee_dashboard_path, class: "nav-link active" do %>
            <i class="far fa-dot-circle nav-icon"></i>
            <p>Employee Dashboard</p>
         <% end %>
        </li>
      </ul>
    </li>

    <!-- Employees -->
    <%if current_user.roles.exists?(name: "Admin")%>
    <li class="nav-item menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-users"></i>
        <p>
          Employees
          <i class="right fas fa-angle-down"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        
       <li class="nav-item">
        <%= link_to admin_user_list_path, class: "nav-link active" do %>
          <i class="far fa-dot-circle nav-icon"></i>
          <p>Employees List</p>
        <% end %>
      </li>
      </ul>
    </li>
     <%end%>
   <!-----------Assign Shifts--------->
   <%if current_user.roles.exists?(name: "Admin")%> 
    <li class="nav-item menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-user-clock"></i>
        <p>
          Assign Shifts
          <i class="right fas fa-angle-down"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <%if current_user.roles.exists?(name: "Admin")%>
       <li class="nav-item">
        <%= link_to attendance_user_shifts_path, class: "nav-link active" do %>
          <i class="far fa-dot-circle nav-icon"></i>
          <p>Employees shifts</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to shift_report_attendance_attendances_path, class: "nav-link active" do %>
          <i class="nav-icon fas fa-clock"></i>
          <p>Shift-wise Report</p>
        <% end %>
      </li>
      <%end%>
      </ul>
    </li>
    <%end%>
    <!-- Attendance -->
    <%if current_user.roles.exists?(name: "Admin")%>
    <li class="nav-item menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-book"></i>
        <p>
          Attendance
          <i class="right fas fa-angle-down"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        
       <li class="nav-item">
        <%= link_to attendance_attendances_path, class: "nav-link active" do %>
          <i class="far fa-dot-circle nav-icon"></i>
          <p>Attendances</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to overtime_analysis_attendance_attendances_path, class: "nav-link active" do %>
          <i class="far fa-dot-circle nav-icon"></i>
          <p>Overtime Analysis</p>
        <% end %>
      </li>
      </ul>
    </li>
    <%end%>
    <!-- Clients -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>Clients <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Leave Management -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clipboard"></i>
        <p>Leave Management <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Holidays -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-headphones"></i>
        <p>Holidays <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Accounts -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-book-open"></i>
        <p>Accounts <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Departments -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-building"></i>
        <p>Departments <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Payroll -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-dollar-sign"></i>
        <p>Payroll <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Job -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-project-diagram"></i>
        <p>Job <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Consultancy -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-cube"></i>
        <p>Consultancy <i class="right fas fa-plus"></i></p>
      </a>
    </li>

    <!-- Widgets -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-feather"></i>
        <p>Widgets <i class="right fas fa-plus"></i></p>
      </a>
    </li>
  </ul>
</nav>
<%end%>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>