<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hr Erp Sys" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application" %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <%= stylesheet_link_tag "admin-lte/plugins/fontawesome-free/css/all.min.css", media: "all" %>
    <!-- AdminLTE & Bootstrap -->
    <%= stylesheet_link_tag "admin-lte/dist/css/adminlte.min.css", media: "all" %>
    <%#= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>

  </head>

  <body class="hold-transition sidebar-mini">
  <div class="wrapper"> 
    
    <%= render 'layouts/control_sidebar'%>
  <%= render 'layouts/header'%>
  
  <%= render 'layouts/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
             <% flash.each do |key, message| %>
            <div class="alert alert-<%= key == "notice" ? "success" : "warning" %>">
              <%= message %>
            </div>
          <% end %>
                 <%= yield %>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
   </div>
  <!-- /.wrapper -->
  <%= render 'layouts/footer'%>
  <%= javascript_include_tag "admin-lte/plugins/jquery/jquery.min.js" %>
<%= javascript_include_tag "admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js" %>
<%= javascript_include_tag "admin-lte/dist/js/adminlte.min.js" %>
  </body>
</html>
