<!DOCTYPE html>
<html>
<head>
  <title>Hr Erp System</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
   <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <%= stylesheet_link_tag "admin-lte/plugins/fontawesome-free/css/all.min.css", media: "all" %>
    <!-- AdminLTE & Bootstrap -->
    <%= stylesheet_link_tag "admin-lte/dist/css/adminlte.min.css", media: "all" %>
</head>

<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <b>Hr</b>Erp System
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
