<% provide(:title, "Edit User") %>

<div class="container mt-4">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Edit User: <%= @user.name %></h3>
    </div>

    <%= form_with(model: @user, url: update_user_path(@user), local: true, method: :put) do |f| %>
      <div class="card-body">
        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group form-check">
          <%= f.check_box :active, { class: "form-check-input", id: "user_active" }, true, false %>
          <%= f.label :active, "Active", class: "form-check-label", for: "user_active" %>
        </div>

        <div class="form-group">
          <%= f.label :roles, "Assign Roles" %><br/>
          <% Role.all.each do |role| %>
            <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: "role_#{role.id}" %>
            <%= label_tag "role_#{role.id}", role.name %><br/>
          <% end %>
        </div>
      </div>

      <div class="card-footer text-right">
        <%= f.submit "Update User", class: "btn btn-primary" %>
        <%= link_to "Cancel", admin_user_list_path, class: "btn btn-secondary ml-2" %>
      </div>
    <% end %>
  </div>
</div>
